<h1>Explore Latest</h1>

<section class="pb-4 pt-4" >
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 d-flex" >
      <% latest.forEach(function (item,index) { %>
    <a href="/recipe/<%=item._id%>" class="col text-center category_link">
        <div class="category__img shadow  category__img--large">
            <img src="../uploads/<%=item.image%>" alt="<%=item.name%>" loading="lazy">
          </div>
          <div class="pt-1"><%=item.name%></div>
        </a>
    
  <%})%>
 
    </div>
</section>